body {
  background-color: #1c1c1c;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.container {
  width: 100vw;
  background-color: #1c1c1c;
}

.game {
  background: url(./img/garage.jpg) bottom / cover no-repeat;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.car {
  width: 400px;
  margin-bottom: 15vh;
  position: relative;
  z-index: 0;
}

@keyframes drive {
  to {
    transform: translateX(1500px);
  }
}

.perfect {
  position: absolute;
  top: 25%;
  width: 300px;
  transform: rotateZ(-20deg);
  visibility: hidden;
  animation: 1s infinite alternate pulse;
  cursor: pointer;
}

.grow-animation {
  animation: grow 0.5s ease-out forwards;
}

@keyframes pulse {
  from {
    width: 300px;
    opacity: 0.5;
  }
  to {
    width: 350px;
    opacity: 1;
  }
}

@keyframes grow {
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

@keyframes wheel-anim {
  to {
    transform: rotate(360deg);
  }
}

.spoiler,
.wheel,
.shadow,
.shadow-wheels {
  position: absolute;
  z-index: -1;
}

.spoiler {
  width: 60px;
  top: 5px;
  left: 5px;
  transform: rotateZ(-3deg);
}

.wheel {
  width: 60px;
  top: 69px;
  left: 60px;
}

.wheel.front {
  left: 296px;
}

.shadow-wheels {
  top: -3px;
  z-index: -2;
}

.shadow {
  top: 105px;
  z-index: -2;
}

.menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2a2a2a;
  visibility: hidden;
}

.menu.main {
  visibility: visible;
}

.button {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button.springs-btn img {
  height: 100%;
}

/* Цветовые кнопки */
.button.color1 {
  background-color: #d2d4d5;
}
.button.color2 {
  background-color: #ca6002;
}
.button.color3 {
  background-color: #ea3eab;
}
.button.color4 {
  background-image: url(./img/usa.jpg);
}

.button.spoiler1 {
  color: #ffffff;
}

/* Ползунок занижения */
#springs-value {
  min-width: 500px;
  appearance: none;
  background: transparent;
}

#springs-value::-webkit-slider-runnable-track {
  height: 12px;
  border-radius: 20px;
  background-color: #1c1c1c;
}

#springs-value::-webkit-slider-thumb {
  width: 45px;
  height: 45px;
  background: url(./img/fire.png) center / contain no-repeat;
  margin-top: -25px;
  cursor: pointer;
  -webkit-appearance: none;
}

/* Адаптив */
@media (max-width: 700px) {
  #springs-value {
    min-width: 200px;
  }
}

@media (max-width: 400px) {
  #springs-value {
    min-width: 100px;
  }

  .car {
    width: 300px;
  }

  .wheel {
    width: 45px;
    top: 53px;
    left: 46px;
  }

  .wheel.front {
    left: 222px;
  }

  .spoiler {
    width: 45px;
    top: -5px;
  }

  .shadow {
    top: 81px;
  }
}
