body {
	background-color: #1c1c1c;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: 100vw;
	height: 100vh;
	background-color: darkcyan;
	overflow: hidden;
}

.game {
	background-image: url(./img/garage.jpg);
	height: 90vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.car {
	width: 400px;
	min-width: 400px;
	margin-bottom: 110px;

	z-index: 0;
	position: relative;
}

.spoiler {
	width: 60px;
	position: absolute;
	top: 10px;
	left: 0px;
	transform: rotateZ(10deg);
	visibility: hidden;
}

.wheel {
	width: 60px;
	top: 67px;
	left: 60px;

	z-index: -1;
	position: absolute;
}

.wheel.front {
	top: 67px;
	left: 295px;
}

.shadow-wheels {
	top: -3px;

	z-index: -2;
	position: absolute;
}

.shadow {
	top: 103px;

	z-index: -2;
	position: absolute;
}

.menu {
	width: 100%;
	height: 90px;
	bottom: 0;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	visibility: hidden;

	background-color: #2a2a2a;
}

.menu.main {
	visibility: visible;
}

.button {
	width: 70px;
	height: 70px;
	/* background-color: chocolate; */
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
